In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("profiles.csv",index_col=None)

In [27]:
df.groupby('orientation').count()

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,last_online,location,offspring,pets,religion,sex,sign,smokes,speaks,status
orientation,,,,,,,,,,,,,,,,,,,,,
bisexual,2767,2439,1717,2625,2009,2443,2599,2544,2478,2410,...,2767,2767,1213,2148,2071,2767,2367,2545,2765,2767
gay,5573,5044,2786,5329,4310,4909,5188,4978,4830,4673,...,5573,5573,1566,3814,3623,5573,4973,5102,5567,5573
straight,51606,47167,31048,49007,39547,45966,46674,44853,43000,41387,...,51606,51606,21606,34063,34026,51606,41550,46787,51564,51606